<template>
  <div class="container mt-3">
    <h3>Add Pet</h3>
    <form @submit="createPet" method="post">
      <b-form-group label-cols="4" label-cols-lg="2" label="Name">
        <b-form-input
          v-model="pet.name"
          placeholder="Enter pet name"
        ></b-form-input>
      </b-form-group>

      <b-form-group label-cols="4" label-cols-lg="2" label="Description">
        <b-form-textarea
          id="textarea"
          v-model="pet.description"
          placeholder="Enter description..."
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </b-form-group>

      <b-form-group label-cols="4" label-cols-lg="2" label="Stock">
        <b-form-input
          v-model="pet.stock"
          placeholder="Stock quantity"
        ></b-form-input>
      </b-form-group>

      <b-form-group label-cols="4" label-cols-lg="2" label="Price">
        <b-form-input
          v-model="pet.price"
          placeholder="Enter pet price"
        ></b-form-input>
      </b-form-group>

      <b-form-group label-cols="4" label-cols-lg="2">
        <input type="submit" name="save" value="Submit" />
      </b-form-group>
    </form>
  </div>
</template>

<script>
export default {
  name: 'PetAdd',
  data () {
    return {
      pet: this.createPetObject()
    }
  },
  created () {
    if (!localStorage.signedIn) {
      this.$router.replace('/')
    }
  },
  methods: {
    createPet (e) {
      this.axios
        .post('http://localhost:3000/api/v1/pets/', this.pet)
        .then((result) => {
          this.$router.push({
            name: 'pet-show',
            params: { id: this.pet.id }
          })
          this.pet = this.createPetObject()
          console.warn(result)
        })
      e.preventDefault()
    },
    createPetObject () {
      const id = Math.floor(Math.random() * 10000000)
      const date = Date.now()
      const uid = id + date

      return {
        id: uid,
        name: '',
        description: '',
        stock: '',
        price: ''
      }
    }
  }
}
</script>

<style scoped></style>
