<template>
  <div class="container mt-5">
    <h3>Pets</h3>

    <div class="mb-3 float-left">
      <router-link class="btn btn-primary" :to="{ name: 'pet-add' }"
        >Add Pet</router-link
      >
    </div>
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Description</td>
          <td>Stock</td>
          <td>Price</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="pet in pets" v-bind:key="pet.id">
          <td>{{ pet.name }}</td>
          <td>{{ pet.description }}</td>
          <td>{{ pet.stock }}</td>
          <td>{{ pet.price }}</td>
          <td>
            <b-link
              :to="{ name: 'pet-show', params: { id: pet.id } }"
              class="btn btn-outline-success btn-sm mr-1"
              >Add to Cart</b-link
            >
            <b-link
              :to="{ name: 'pet-show', params: { id: pet.id } }"
              class="btn btn-outline-secondary btn-sm mr-1"
              >Show</b-link
            >
            <b-link
              :to="{ name: 'pet-edit', params: { id: pet.id } }"
              class="btn btn-outline-primary btn-sm"
              >Edit</b-link
            >
            <b-link
              v-on:click="deletePet(pet.id)"
              class="btn btn-outline-danger btn-sm ml-1"
              >Delete</b-link
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Pets',
  data () {
    return {
      pets: []
    }
  },
  methods: {
    getPets () {
      this.$http
        .get('/api/v1/pets')
        .then((response) => {
          this.pets = response.data
        })
    },
    deletePet (id) {
      this.$http.delete('http://localhost:3000/api/v1/pets/' + id).then(() => {
        this.getPets()
      })
    }
  },
  mounted () {
    this.pets = this.getPets()
  }
}
</script>

<style scoped></style>
