<template>
  <div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
        <b-nav-item to="/">PetsFurrSale</b-nav-item>
        <!-- Navbar dropdowns -->
        <b-nav-item to="/">Pets</b-nav-item>
        <b-nav-item to="/users" v-if="signedIn()">Users</b-nav-item>
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto">
        <b-nav-item v-b-modal.modal-1 to="/signup" v-if="!signedIn()"
          >Sign up</b-nav-item
        >
        <b-nav-item v-b-modal.modal-1 to="/signin" v-if="!signedIn()"
          >Login</b-nav-item
        >
        <b-nav-item v-if="signedIn()">Cart</b-nav-item>
        <b-nav-item v-if="signedIn()">Purchases</b-nav-item>
        <b-nav-item @click="signOut()" v-if="signedIn()">Sign-out</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: 'NavBar',
  created () {
    this.signedIn()
  },
  methods: {
    setError (error, text) {
      this.error =
        (error.response && error.response.data && error.response.data.error) ||
        text
    },
    signedIn () {
      return localStorage.signedIn
    },
    signOut () {
      this.$http.secured
        .delete('/signin')
        .then((response) => {
          delete localStorage.csrf
          delete localStorage.signedIn
          this.$router.replace('/')
        })
        .catch((error) => this.setError(error, 'Cannot sign out'))
    }
  }
}
</script>

<style scoped></style>
